---
import { SITE, BLOG } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import TagList from '~/components/blog/TagList.astro';

const meta = {
  title: `Categories`,
  description: SITE.description,
  noindex: BLOG?.tag?.noindex,
};
---

<Layout meta={meta}>
  <section class="px-6 page mx-auto max-w-3xl">
    <TagList />
  </section>
</Layout>
