---
import { SITE, BLOG } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import TagList from '~/components/blog/TagList.astro';

const meta = {
  title: `Tags`,
  description: SITE.description,
  noindex: BLOG?.tag?.noindex,
};
---

<Layout meta={meta}>
  <section class="page">
    <TagList />
  </section>
</Layout>
