---
import { BLOG } from '~/config.mjs';

import { getPermalink } from '~/utils/permalinks';

import { fetchPosts } from '~/utils/blog';
import Headline2 from '~/components/blog/Headline2.astro';
import Search from "astro-pagefind/components/Search";

const posts = await fetchPosts();
const tags = new Map();
posts.map((post) => {
  Array.isArray(post.tags) &&
    post.tags.map((tag) => {
      tags.has(tag) ? tags.set(tag, tags.get(tag) + 1) : tags.set(tag, 1);
    });
});

const categories = new Map();
posts.map((post) => {
  if (Array.isArray(post.category)) {
    post.category.map((key) => {
      categories.has(key) ? categories.set(key, categories.get(key) + 1) : categories.set(key, 1);
    });
  } else if (typeof post.category === 'string') {
    let key = post.category;
    categories.has(key) ? categories.set(key, categories.get(key) + 1) : categories.set(key, 1);
  }
});
---

<Search id="search" className="pagefind-ui mb-12 mt-8" uiOptions={{ showImages: false }} />

{
  categories.size && (
    <div class="mb-8 md:mb-12">
      <Headline2 title="分类" />
      <div class="flex flex-wrap justify-start gap-3 md:gap-4">
        {[...categories].map(([category, val]) => (
          <div class="rounded-full border border-slate-500 dark:border-slate-100 inline-block py-1 px-3">
            {BLOG?.category?.disabled ? (
              category
            ) : (
              <a
                href={getPermalink(category, 'category')}
                class="hover:text-primary"
              >
                {category}
                <span class="text-sm text-slate-400">{val}</span>
              </a>
            )}
          </div>
        ))}
      </div>
    </div>
  )
}

{
  tags.size && (
    <div class="mb-8 md:mb-12">
      <Headline2 title="标签" />
      <div class="flex flex-wrap justify-start gap-3 md:gap-4">
  {[...tags].map(([tag, val]) => (
    <div class="rounded-full border border-slate-500 dark:border-slate-100 inline-block py-1 px-3">
      {BLOG?.tag?.disabled ? (
        tag
      ) : (
        <a
          href={getPermalink(tag, 'tag')}
          class="hover:text-primary"
        >
          {tag}
          <span class="text-sm text-slate-400">{val}</span>
        </a>
      )}
    </div>
  ))}
</div>

    </div>
  )
}
