---
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  class?: string;
}

const { class: className = 'mb-12' } = Astro.props;
---

<link href={getPermalink("/_pagefind/pagefind-ui.css")} rel="stylesheet" />
<script src={getPermalink("/_pagefind/pagefind-ui.js")} type="text/javascript"></script>

<div id="search" class={className}></div>

<script>
	window.addEventListener('DOMContentLoaded', (event) => {
	  new PagefindUI({ element: '#search', resetStyles: false});
	});

    window.addEventListener('keydown', (event) => {
        if (event.key === '/' || event.key === '.') {
            console.log('you pressed the slash');
            event.preventDefault();
            document.querySelector('div#search input').focus();
        }
    });
</script>

<style is:global>
	.dark {
		--pagefind-ui-primary: #e2e8f0;
		--pagefind-ui-text: #e2e8f0;
		--pagefind-ui-background: #1e293b;
		--pagefind-ui-border: #1e293b;
		--pagefind-ui-tag: #1e293b;
	}
</style>
